<div class="row" style="margin-top: 10px;">
    <div class="col-md-12">
        <mat-vertical-stepper labelPosition="bottom">

            <!--If we want to display different icon for catefory then we have to pass "state" property-->
            <mat-step
                [stepControl]="verticalFormGroup"
                *ngFor="let category of dummyCategoryData; first as f; last as l">

                <form [formGroup]="verticalFormGroup" (ngSubmit)="onFormSubmit()">
                    <ng-template matStepLabel>
                        <div>
                            {{category.displayText}}
                        </div>
                    </ng-template>

                    <h4>
                        <strong>
                            {{"Selected Category: " + category.displayText}}
                        </strong>
                    </h4>

                    <div *ngFor="let listItem of category.questionInputs">

                        <!-- This custom html element selector is used to display autocomplete dropdown-->
                        <app-autocomplete-element
                            *ngIf="listItem.input.type === 'autocomplete'"
                            [dummyAutocompleteData]="listItem"
                            (onAutoCompleteValueChange)="getAnswer($event)">
                        </app-autocomplete-element>

                        <!--This custom html element selector is used to display input elements-->
                        <app-input-element
                            *ngIf="listItem.input.type === 'input'"
                            [dummyInputData]="listItem"
                            (onInputValueChange)="getAnswer($event)">
                        </app-input-element>

                        <!--This custom html element selector is used to display Textarea elements-->
                        <app-textarea-element
                            *ngIf="listItem.input.type === 'textarea'"
                            [dummyTextAreaData]="listItem">
                        </app-textarea-element>

                        <!-- This custom html element selector is used to display Radio elements-->
                        <app-radio-element
                            *ngIf="listItem.input.type === 'radio'"
                            [dummyRadioData]="listItem">
                        </app-radio-element>

                        <!--This custom html elemnt selector is used to display select dropdown elements-->
                        <app-select-element
                            *ngIf="listItem.input.type === 'select'"
                            [dummySelectData]="listItem">
                        </app-select-element>

                        <!--This custom html element selector is used to display checkbox elements-->
                        <app-checkbox-element
                            *ngIf="listItem.input.type === 'checkbox'"
                            [dummyCheckboxData]="listItem">
                        </app-checkbox-element>

                        <!--This custom html element selector is used to display calendar-->
                        <app-datepicker-element
                            *ngIf="listItem.input.type === 'datepicker'"
                            [dummyDatepickerData] = "listItem"
                            (onDatepickerValueChange)="getAnswer($event)">

                        </app-datepicker-element>
                    </div>

                    <div>
                        <button
                            *ngIf="!f"
                            color="primary"
                            mat-raised-button
                            matStepperPrevious>
                                Previous
                        </button>
                        <button
                            *ngIf="!l"
                            color="primary"
                            mat-raised-button
                            matStepperNext
                            style="float: right;">
                                Next
                        </button>
                    </div>
                </form>
            </mat-step>
        </mat-vertical-stepper>

    </div>
</div>

<!--This section is used to display topbar button which navigates to the top of the page-->
<!--<div class="row" style="margin-top: 5px; bottom: 70px;" class="fixed-bottom">
    <div class="com-md-12">
        <button
            color="primary"
            mat-mini-fab
            (click)="reachTop($event)"
            style="float: right;">

            <mat-icon>keyboard_arrow_up</mat-icon>

        </button>

    </div>
</div>-->