<div class="row" style="margin-top: 10px;">
    <div class="col-md-12">

    </div>
</div>

<!--This section is used to display topbar button which navigates to the top of the page-->
<div class="row" style="margin-top: 5px; bottom: 70px;" class="fixed-bottom">
    <div class="com-md-12">
        <button
            color="primary"
            mat-mini-fab
            (click)="reachTop($event)"
            style="float: right;">

            <mat-icon>keyboard_arrow_up</mat-icon>

        </button>

    </div>
</div>