<div class="row">
    <div class="col-md-6">
        <!--this below div is used to display checkbox list-->
        <div class="moveClass">
            <mat-label
                class="blockPosition">
                {{dummyCheckboxData.question.text}}
            </mat-label>
            <mat-checkbox
                *ngFor="let item of dummyCheckboxData.input.selectOptions"
                [value]="item"
                (change)="onChange($event,i,item)"
                class="blockPosition checkListItem"
                labelPosition="after"
                [disabled]="item.disable"
                [checked]="item.value == 'false' ? false : true">
                {{ item.label }}
            </mat-checkbox>
        </div>
        <hr>
    </div>
</div>