<div class="row">
    <div class="col-md-8">
        <!--this below div is used to display checkbox list-->
        <div class="moveClass">
            <mat-label
                class="blockPosition">
                {{dummyCheckboxData.question.text}}
            </mat-label>
            <mat-checkbox
                *ngFor="let item of dummyCheckboxData.input.radioCheckboxOptions"
                [value]="item"
                class="blockPosition checkListItem"
                labelPosition="after"
                [checked]="item===dummyCheckboxData.input.defaultValue ? true : false">
                {{item}}
            </mat-checkbox>
        </div>
        <hr>
    </div>
</div>