<div class="row">
    <div class="col-md-4">
        <div class="moveClass">
            <mat-form-field class="blockPosition">

                <mat-label>
                    {{dummyDatepickerData.question.text}}
                </mat-label>
                
                <input 
                    matInput
                    [matDatepicker]="picker"
                    [placeholder]="dummyDatepickerData.input.placeholderValue"
                    required
                    [formControl]="datepickerControl"
                    (dateChange)="datepickerChange($event.value)">

                <mat-datepicker-toggle
                    matSuffix [for]="picker">
                </mat-datepicker-toggle>

                <mat-datepicker #picker>
                </mat-datepicker>

                <mat-error
                    *ngIf="datepickerControl.hasError('required')">
                    {{ dummyDatepickerData.input.requiredErrorMsg}}
                </mat-error>
            </mat-form-field>
        </div>
    </div>
</div>