<div class="row">
    <div class="col-md-6">

        <!--This below div is used to display radio button-->
        <div class="moveClass">
            <mat-radio-group
                class="blockPosition"
                [formControl]="radioControl"
                (change)="radioChange($event.value)"
                required>
                <mat-label>
                    {{dummyRadioData.question.text}}
                </mat-label>

                <mat-icon
                    style="display: block; margin: -22px 0px 0px 250px; color: grey;"
                    #tooltip="matTooltip"
                    *ngIf="displayTooltip"
                    matTooltip="Examples"
                    matTooltipPosition="above" >
                    info
                </mat-icon>
                
                <mat-radio-button
                    *ngFor="let item of dummyRadioData.input.selectOptions"
                    [value]="item.value"
                    class="radioElements">
                    {{ item.label }}
                </mat-radio-button>
            </mat-radio-group>
            <mat-error
                *ngIf="radioControl.hasError('required')">
                {{dummyRadioData.input.requiredErrorMsg}}
            </mat-error>
        </div>
        <hr>
    </div>
</div>