<div class="row">
    <div class="col-md-6">

        <!--This below div is used to display radio button-->
        <div class="moveClass">
            <mat-radio-group
                class="blockPosition"
                [formControl]="radioControl"
                (change)="radioChange($event.value)"
                required>
                <mat-label>
                    {{dummyRadioData.question.text}}
                </mat-label>

                <mat-radio-button
                    *ngFor="let item of dummyRadioData.input.radioCheckboxOptions"
                    [value]="item"
                    class="radioElements">
                    {{item}}
                </mat-radio-button>
            </mat-radio-group>
            <mat-error
                *ngIf="radioControl.hasError('required')">
                {{dummyRadioData.input.requiredErrorMsg}}
            </mat-error>
        </div>
        <hr>
    </div>
</div>