<div class="row">
    <div class="col-md-6">
        <div class="moveClass">
            <mat-form-field>
                <mat-label>
                    {{dummyAutocompleteData.question.text}}
                </mat-label>
                <input
                    matInput
                    [placeholder]="dummyAutocompleteData.input.placeholderValue"
                    [matAutocomplete]="auto"
                    [formControl]="autoControl"
                    required>
                
                <!--autoActiveFirstOption will allow to highlight first value when type-->
                <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption (optionSelected)="autoCompleteChange($event.option.value)">
                    <mat-option
                        *ngFor="let item of filteredItems | async"
                        [value]="item.value">
                        <span>
                            {{item.label}}
                        </span>
                    </mat-option>
                </mat-autocomplete>
                <mat-error
                    *ngIf="autoControl.hasError('required')">
                    {{ dummyAutocompleteData.input.requiredErrorMsg}}
                </mat-error>
            </mat-form-field>
        </div>
    </div>
</div>